# Python & Snakemake cache
__pycache__/
.snakemake/
logs/
*.log

# Large genomic data binaries (Never commit raw sequencing reads or alignments)
*.fastq
*.fastq.gz
*.bam
*.bai
*.vcf
*.vcf.gz

# OS metadata
.DS_Store
Thumbs.db
